doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Verify your account
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css.map')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.min.css')
  body
    .row
        img.half-width(src="https://res.cloudinary.com/dkfptto8m/image/upload/v1561061164/Fundry/worker.jpg")
        h2(style="text-align : center") Verify your Event Workspace 
    .row
      .large-12.columns
        .callout
          p
            | We're stoked you want to use the Remotify service. However , before you proceed we need to verify the email address attached to this account.

          p Please click the button  below to verify your account 
          a.button(href='#')(style="text-align : center") Verify Email

        p(style="text-align : center") Please ignore this mail or Contact Support if this account was not created by you. 
          a(href="https://remotify.netlify.com")(style="text-align : center") contact support 
        

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/what-input/what-input.js')
    script(src='bower_components/foundation-sites/dist/foundation.js')
    script(src='js/app.js')