a {
  font-family: calibri;
  font-size: 1.2rem;
}

p {
  font-size: 1.3rem;
  font-family: calibri;
}

button {
  padding : 0.7rem 1rem;
  border: 1px solid blue;
  background: blue;
  transition: all 400ms;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  /* a :hover {
    background: transparent;
    color: blue;
    cursor: pointer;
  } */
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

h3 {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: grey;
  padding: 0rem 0.5rem;
}

.body-container{
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.header{
  padding: 1rem 0rem;
  text-align: center;
  background-color: #B40093;
  width: auto;
  font-family: calibri;
}

.sub-header{
  padding: 1rem 0rem;
  text-align: center;
  background: #ffff;
  font-family: calibri;
}

.body {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.footer {
  font-size: 1.1rem;
  color: #fff;
  padding: 1rem 0rem;
  text-align: center;
  background-color: #8F009F;
}

.straight-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
