doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href="../css/beta.css")
    
    title Beta Test

  body
    div
        h1 Oasis Beta Testing Phase
        p(style="text-align : center; color: #000") We are stoked to see you join the Beta Test Phase for Oasis.
        hr 
        h2(style="padding-left: 25px") Hi There,
        p(style="text-indent: 25px; word-spacing: 0.1rem; line-height : 1.8rem;") Thank you for taking  some time out of your busy schedule to test run Oasis. We are on a journey to improve the regular event experience! 
        
        p(style="text-indent: 25px; word-spacing: 0.1rem; line-height : 1.8rem;") Please note that Oasis is NOT production ready. We are however working really hard to hit that stage !
        p(style="padding-left: 20px")  This means ;
        li Your data as a Beta Test User might get deleted.
        li You would experience bugs while using the service now. Please  report them.
        br

        p(style="text-indent: 25px; word-spacing: 0.1rem; line-height : 1.8rem;") We are gunning to make Oasis as User Centered as possible. Hence, your sincere feedback would go a long way. Please send them our way!
        br 
        br
        hr
        p(style="text-align: center") Oasis - Crafted from Fundry.



    