doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href="../css/beta.css")
    
    title Confirm Support

  body(style="margin: 5rem 1rem")
    div
        h1 Event Support Email Channel.
        p(style="text-align : center; color: #000") We are stoked to see you use Oasis to Store, Plan and Launch your next event 
        hr 
        br 
        br 
        p(style="text-indent: 25px; word-spacing: 0.1rem; line-height : 1.8rem;") While we are excited about you using Oasis, we however want to verify that a reachable email address is being used as a support channel for your event.
        
        section
          button Confirm Support Email Channel
        p(style="text-align : center") This fully provisions your event on Oasis.
        br 
        br
        br
        hr
        p(style="text-align: center") Did'nt create an event? Report here
        p(style="text-align: center") Oasis - Crafted from Fundry.



    