doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href="../css/basic.css")
    link(rel='stylesheet', href="../css/forgot.css")
    
    title Forgot Oasis Account Password
      
  body
    div.header
      h2 Oasis Event Management
        
    br 
    br 
    br 
    h3 Confirm Password Reset
    
    div.body-container  
      div.body 
        p A request has been made to reset your Oasis account Password. We need to verify that this request came from you.
        
        p(style="text-align: center") This request would expire in the next 10 Minutes if ignored.
        
        br
        
        div.btn-container
          button(href="#") Confirm Password Reset
            br
        
        br
        div.straight-line 
          p(style="color: grey") Didn't request a password reset? 
          a(style="padding : 0.5rem 1rem") Please Report Here.
        
        br
      
    div.footer 
      p(style="color: #fff") All rights reserved, copyright@ 2020.
      p(style="color: #fff") Oasis - crafted from Fundry Organization.
      
      
