doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href="../css/basic.css")
    link(rel='stylesheet', href="../css/forgot.css")
    
    title {{Invitationtype}} - {{Event}} Event Invitation 
      
  body
    div.header
      h2 Concatenate Conference Africa -  2020
        
    br 
    br 
    br 
    h2(style="color: #000") Invitation As A Guest.   
    
    div.body-container  
      div.body 
        p A request has been made to reset your Oasis account Password. We need to verify that this request came from you.
        
        br
        
        p(style="text-align: center") If this is an unkown event, you can find out more details about the event by viewing the event on Oasis.
        
        br
        
        div(style="display: flex").btn-container
          button(href="#") Accept Invitation
          button(style="background-color: #E92E00") Decline Invitation
            br
        
        br
    div.footer 
      p(style="color: #fff") All rights reserved, copyright@ 2020.
      p(style="color: #fff") Oasis - crafted from Fundry Organization.
      
      
